<!DOCTYPE html>
<html>
<head>
  <title>Aasm plus</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "aasm_plus/application", media: "all" %>
  <%= javascript_include_tag "aasm_plus/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
